In [208]:
# install network for the needed libray
! pip install network

Requirement already satisfied: network in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.1)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [209]:
# to install nltk
! pip install nltk

Requirement already satisfied: nltk in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\user\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [210]:
import re
import nltk # for text function
import matplotlib.pyplot as plt
import pandas as pd
import network as nx # for network graphs

from nltk import ngrams # continue sequence of n items
from nltk.corpus import stopwords  # the,is,and, are the example ofstopwords 
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize
nltk.download("stopwords",quiet=True)

True

In [211]:
df = pd.read_csv('Iliad.txt', sep='\t').dropna().drop("gutenberg_id",1)
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_21288\936221289.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = pd.read_csv('Iliad.txt', sep='\t').dropna().drop("gutenberg_id",1)

                                  text
0                   THE ILIAD OF HOMER
2   RENDERED INTO ENGLISH BLANK VERSE.
3                                   BY
5                EDWARD EARL OF DERBY.
10                            PREFACE.

In [212]:
def clean_text(text):
    text = text.lower()
    text =text.replace("'","")
    text= re.sub(r'[^\w]',' ',text)  # leave only word charcters
    text = re.sub(r'\s+',' ',text)   # omit extra soace charcters
    text=text.strip()
    return text

df['text']=df['text'].map(clean_text)
df.head()

                                 text
0                  the iliad of homer
2   rendered into english blank verse
3                                  by
5                edward earl of derby
10                            preface

In [213]:
df['wordpairs'] = df['text'].map(lambda x: list(ngrams(x,3)))
df = df.explode('wordpairs')
df.head(10)

                 text  wordpairs
0  the iliad of homer  (t, h, e)
0  the iliad of homer  (h, e,  )
0  the iliad of homer  (e,  , i)
0  the iliad of homer  ( , i, l)
0  the iliad of homer  (i, l, i)
0  the iliad of homer  (l, i, a)
0  the iliad of homer  (i, a, d)
0  the iliad of homer  (a, d,  )
0  the iliad of homer  (d,  , o)
0  the iliad of homer  ( , o, f)

In [214]:
print(df.count())

text         727748
wordpairs    727737
dtype: int64

In [215]:
# count the most frequently used three letters word
df['wordpairs'].value_counts().head(100)

( , t, h)    15557
(t, h, e)    14534
(h, e,  )    12093
(n, d,  )     7117
(a, n, d)     6630
             ...
( , t, r)     1201
(t, h, o)     1197
(e,  , o)     1196
(r, s,  )     1194
(e, s, t)     1192
Name: wordpairs, Length: 100, dtype: int64

In [216]:
#to convert into individual columns
df = pd.DataFrame(df.wordpairs.values.tolist(),columns=['word1','word2','3rdword']).dropna()
df.head(10)

  word1 word2 3rdword
0     t     h       e
1     h     e
2     e             i
3           i       l
4     i     l       i
5     l     i       a
6     i     a       d
7     a     d
8     d             o
9           o       f

In [217]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [218]:
#remove the stopwords
en_stopwords= set(stopwords.words('english'))
df= df[~(df.word1.isin(en_stopwords) | df.word2.isin(en_stopwords) | df['3rdword'].isin(en_stopwords))]
df.head()

   word1 word2 3rdword
1      h     e
11     f             h
16     r     e       n
20     e     r       e
29           e       n

In [219]:
df.shape

(134882, 3)

In [220]:
# Example
import tokenize
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.sentiment import SentimentIntensityAnalyzer
text = "Natural Language Processing (NLP) is a field of computer science and artificial intelligence that deals with the interaction between computers and humans using natural language. Python is a popular programming language for NLP due to its powerful libraries and tools such as NLTK, spaCy, and TextBlob."

stop_words= set(stopwords.words('english'))
#words = word_tokenize(text)
#sentences = sent_tokenize(text)

In [221]:
print(stop_words)

{'hadn', 'are', 'him', 'do', 'we', 'about', 'needn', "you'll", 'wouldn', 'than', 'while', 'me', "you're", 'don', 'did', 've', "won't", 'so', 'a', 'myself', 'ma', 'her', 'having', 'to', 'ourselves', 'its', 'there', 'who', 'she', 'being', 'your', 'the', 'through', 'hers', "needn't", 'can', 'but', 'you', 'up', "mustn't", 'into', 'how', 'once', 'for', 'itself', 'them', 'be', 'weren', 'that', 'few', 'most', 'aren', 'if', 'when', 'd', "wasn't", 'an', 'didn', "haven't", "wouldn't", 'it', 'what', 'at', 'nor', "shouldn't", 'out', 'haven', 'only', 'this', 'have', 'same', 'has', 'll', 'here', 'should', 'our', 'was', 'they', 'o', 'their', 'mightn', 'now', 'until', "weren't", 'as', 're', 'those', 'against', 'all', 'such', "isn't", "aren't", 'from', 'off', 'my', 'shan', 'which', 'on', 'below', "hadn't", 'further', 'won', 'by', 'over', 'were', 'y', 'where', 'before', 'herself', "should've", 'am', 'had', 'will', 'does', 'why', 'in', 'm', 'wasn', 'yourself', "doesn't", 'between', "you'd", 'himself', "she's", "that'll", 'is', 'no', "shan't", 'shouldn', 'hasn', 'too', 'themselves', 'theirs', 'because', 'couldn', 'yourselves', 'down', 'then', 'other', 'doing', 'very', 'his', 'more', 'these', 'during', 'ain', "don't", 'isn', 'own', "didn't", 'doesn', 'ours', 'he', 'not', "hasn't", 's', 'under', "couldn't", 'mustn', 'again', "it's", 'of', 'both', 'each', "you've", 'after', 'whom', "mightn't", 'any', 'or', 'just', 'i', 'yours', 'above', 't', 'with', 'and', 'been', 'some'}

In [222]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [223]:
words = word_tokenize(text)

In [224]:
print(words)

['Natural', 'Language', 'Processing', '(', 'NLP', ')', 'is', 'a', 'field', 'of', 'computer', 'science', 'and', 'artificial', 'intelligence', 'that', 'deals', 'with', 'the', 'interaction', 'between', 'computers', 'and', 'humans', 'using', 'natural', 'language', '.', 'Python', 'is', 'a', 'popular', 'programming', 'language', 'for', 'NLP', 'due', 'to', 'its', 'powerful', 'libraries', 'and', 'tools', 'such', 'as', 'NLTK', ',', 'spaCy', ',', 'and', 'TextBlob', '.']

In [225]:
sentences = sent_tokenize(text)

In [226]:
print(sentences)

['Natural Language Processing (NLP) is a field of computer science and artificial intelligence that deals with the interaction between computers and humans using natural language.', 'Python is a popular programming language for NLP due to its powerful libraries and tools such as NLTK, spaCy, and TextBlob.']

In [227]:
filtered_words=[word for word in words if word.casefold not in stop_words ]

In [228]:
len(filtered_words)

52

In [229]:
len(words)

52

In [230]:
ps = PorterStemmer()
stemmed_words=[ps.stem(word) for word in filtered_words]

In [231]:
len(stemmed_words)

52

In [232]:
stemmed_words

['natur',
 'languag',
 'process',
 '(',
 'nlp',
 ')',
 'is',
 'a',
 'field',
 'of',
 'comput',
 'scienc',
 'and',
 'artifici',
 'intellig',
 'that',
 'deal',
 'with',
 'the',
 'interact',
 'between',
 'comput',
 'and',
 'human',
 'use',
 'natur',
 'languag',
 '.',
 'python',
 'is',
 'a',
 'popular',
 'program',
 'languag',
 'for',
 'nlp',
 'due',
 'to',
 'it',
 'power',
 'librari',
 'and',
 'tool',
 'such',
 'as',
 'nltk',
 ',',
 'spaci',
 ',',
 'and',
 'textblob',
 '.']

In [233]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [234]:
sia = SentimentIntensityAnalyzer()
sentiment = sia.polarity_scores(text)
sentiment

{'neg': 0.0, 'neu': 0.74, 'pos': 0.26, 'compound': 0.9136}

In [239]:
G = nx.from_pandas_edgelist(df[df.n >25],'word1','word2')
plt.figure(figsize=(12,10))
nx.draw_shell(G,with_labels=True,node_color='red',font_size=15)

AttributeError: 'DataFrame' object has no attribute 'n'

In [ ]:
# installing azure storage blob
pip install azure-storage-blob

Collecting azure-storage-blob
  Downloading azure_storage_blob-12.15.0-py3-none-any.whl (387 kB)
     -------------------------------------- 387.8/387.8 kB 4.0 MB/s eta 0:00:00
Collecting azure-core<2.0.0,>=1.26.0
  Downloading azure_core-1.26.3-py3-none-any.whl (174 kB)
     ------------------------------------ 174.5/174.5 kB 617.4 kB/s eta 0:00:00
Collecting cryptography>=2.1.4
  Downloading cryptography-39.0.2-cp36-abi3-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 6.8 MB/s eta 0:00:00
Collecting typing-extensions>=4.0.1
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting isodate>=0.6.1
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ---------------------------------------- 41.7/41.7 kB 2.0 MB/s eta 0:00:00
Collecting requests>=2.18.4
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.8/62.8 kB ? eta 0:00:00
Requirement already satisfied: six>=1.11.0 in c:\users\user\appdata\roaming\python\python311\site-packages (from azure-core<2.0.0,>=1.26.0->azure-storage-blob) (1.16.0)
Collecting cffi>=1.12
  Downloading cffi-1.15.1-cp311-cp311-win_amd64.whl (179 kB)
     ------------------------------------- 179.0/179.0 kB 10.5 MB/s eta 0:00:00
Collecting pycparser
  Downloading pycparser-2.21-py2.py3-none-any.whl (118 kB)
     -------------------------------------- 118.7/118.7 kB 3.5 MB/s eta 0:00:00
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp311-cp311-win_amd64.whl (96 kB)
     ---------------------------------------- 96.7/96.7 kB ? eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.5/61.5 kB 3.4 MB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.9/140.9 kB 4.2 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.12.7-py3-none-any.whl (155 kB)
     -------------------------------------- 155.3/155.3 kB 9.7 MB/s eta 0:00:00
Installing collected packages: urllib3, typing-extensions, pycparser, isodate, idna, charset-normalizer, certifi, requests, cffi, cryptography, azure-core, azure-storage-blob
Successfully installed azure-core-1.26.3 azure-storage-blob-12.15.0 certifi-2022.12.7 cffi-1.15.1 charset-normalizer-3.1.0 cryptography-39.0.2 idna-3.4 isodate-0.6.1 pycparser-2.21 requests-2.28.2 typing-extensions-4.5.0 urllib3-1.26.15
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [246]:
from azure.storage.blob import BlobServiceClient,BlobClient
import io

connection_string="DefaultEndpointsProtocol=https;AccountName=aneritrainingc339;AccountKey=TW0zW3Y/8FbgkLlUhrlKxu7Obr4jOD7M69y94VtMoIRUTAdKWxmztYcjn7NuU8HJytEDkMy4JoEd+AStkFBaSQ==;EndpointSuffix=core.windows.net"
container_name="c339"

blob_service_client= BlobServiceClient.from_connection_string(connection_string)
blob_client = blob_service_client.get_blob_client(container_name, "apple.csv")

blob_data =blob_client.download_blob()
data = blob_data.content_as_text()
df=pd.read_csv(io.StringIO(data))
print(df.head())

         Date Close/Last    Volume      Open      High        Low
0  03/16/2023    $155.85  76254420   $152.16   $156.46    $151.64
1  03/15/2023    $152.99  77167870   $151.19  $153.245    $149.92
2  03/14/2023    $152.59  73695890   $151.28   $153.40    $150.10
3  03/13/2023    $150.47  84457120  $147.805   $153.14    $147.70
4  03/10/2023    $148.50  68572400   $150.21   $150.94  $147.6096

In [256]:
from azure.storage.blob import BlobServiceClient,BlobClient
import io

connection_string="DefaultEndpointsProtocol=https;AccountName=aneritrainingc339;AccountKey=TW0zW3Y/8FbgkLlUhrlKxu7Obr4jOD7M69y94VtMoIRUTAdKWxmztYcjn7NuU8HJytEDkMy4JoEd+AStkFBaSQ==;EndpointSuffix=core.windows.net"
container_name="c339"

blob_service_client= BlobServiceClient.from_connection_string(connection_string)
blob_client = blob_service_client.get_blob_client(container_name, "March20/apple_data.csv")

blob_data =blob_client.download_blob()
data = blob_data.content_as_text()
df=pd.read_csv(io.StringIO(data))
print(df.head())

         Date Close/Last    Volume      Open      High        Low
0  03/16/2023    $155.85  76254420   $152.16   $156.46    $151.64
1  03/15/2023    $152.99  77167870   $151.19  $153.245    $149.92
2  03/14/2023    $152.59  73695890   $151.28   $153.40    $150.10
3  03/13/2023    $150.47  84457120  $147.805   $153.14    $147.70
4  03/10/2023    $148.50  68572400   $150.21   $150.94  $147.6096